---
layout: layouts/auth.njk
title: Riset Kata Sandi
---
<div class="text-center mb-4">
  <h4 class="fw-bold">Riset Password Baru</h4>
  <p class="text-muted small">Silakan buat kata sandi baru untuk akun Anda.</p>
</div>

<form action="/auth/login/" method="get">
  <div class="mb-3">
    <label class="form-label">Password Baru</label>
    <input type="password" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Konfirmasi Password Baru</label>
    <input type="password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary w-100 py-2">Simpan Password Baru</button>
</form>
