---
layout: layouts/dashboard.njk
title: ApexCharts Showcase
breadcrumb:
  - { label: "Home", url: "/" }
  - { label: "Charts Showcase" }
---
<div class="row row-cards g-3">
  <!-- Line Chart -->
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title m-0">Line Chart (Trend Pendapatan)</h5>
      </div>
      <div class="card-body">
        <div id="chart-line-demo"></div>
      </div>
    </div>
  </div>

  <!-- Area Chart -->
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title m-0">Area Chart (Trafik Pengunjung)</h5>
      </div>
      <div class="card-body">
        <div id="chart-area-demo"></div>
      </div>
    </div>
  </div>

  <!-- Bar Chart -->
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title m-0">Bar Chart (Volume Penjualan)</h5>
      </div>
      <div class="card-body">
        <div id="chart-bar-demo"></div>
      </div>
    </div>
  </div>

  <!-- Donut Chart -->
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title m-0">Donut Chart (Perangkat Pengguna)</h5>
      </div>
      <div class="card-body">
        <div id="chart-donut-demo"></div>
      </div>
    </div>
  </div>
</div>
